{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h1>GreetingsForm</h1>
            <div style="margin-left: 120px">
    <a class="btn btn-primary" href="{% url 'guests' %}" role="button">History</a>
          </div>
  </div>
  </div>
  <hr/>
        <div id="cover-caption">
        <div class="container">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <form method="post" id="form">
     <div class="form-group" id="name">
        {% csrf_token %}
          {{ form }}
     </div>
        <button type="submit" class="btn btn-primary">Say Hi</button>
                    <p>
                <div id="cover-caption">
        <div class="container">
        <div id="ajax-form" ></div>
        </div>
                </div>

    </form>

                </div>
                </div>
            </div>


{% endblock %}

{% block scripts %}

    <script>

    const form = document.getElementById('form')
    form.addEventListener("submit",submitHandler);

    function submitHandler(e){
        e.preventDefault();
        $.ajax({
            headers: {
                 'X-Requested-With': 'XMLHttpRequest'
                },
            type: 'POST',
            url: '{% url 'title' %}',
            data: $('#form').serialize(),
            datatype: 'json',
            success: function (data){
                    form.reset();
                    console.log(data.msg);
                    $('#ajax-form').append(data.msg)
                    form.reset();
                    }

        })
    }
    </script>

{% endblock %}